
body {
	font: 16px Arial;
}

.container {
	max-width: 380px;
	margin: auto;
}

.autocomplete {
	display: inline-block;
}

input {
	box-sizing: border-box;
	border: none;
	padding: 10px;
	font-size: 16px;
}

input[type=text] {
	background-color: #f1f1f1;
	width: 300px;
	outline: none;
}

input[type=submit] {
	background-color: DodgerBlue;
	color: #fff;
	cursor: pointer;
}

.autocomplete-items {
	position: absolute;
	width: 300px;
}

.autocomplete-items div {
	box-sizing: border-box;
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #d4d4d4;
	border-top: 0px;
}

.autocomplete-items div:hover {
	background-color: #e9e9e9;
}

.items-link {
	text-decoration: none;
	color: black;
}

.items-link:hover {
	text-decoration: underline;
	color: black;
}